doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block scripts
    	script(type='text/javascript', src='/js/jquery-1.11.0')
    	script(type='text/javascript', src='/js/bootstrap.js')
 